<% @page_header = "Messages" %>
<%- unless @messages.empty? -%>
  <%- @messages.each do |message| -%>
    <ul class="messages">
      <%= message.read? ? '<li class="read">' : '<li class="unread">'%>
      <span class="subject"><%= link_to message.subject, message %></span>
      <span class="date"><%= h(message.created_at.strftime("%H:%M %d/%m/%Y")) %></span>
      <span class="from"><%= h(message.sender) %></span>
      </li>
    </ul>
  <%- end -%>
<%- else-%>
  <p>You have no new messages</p>
<%- end -%>
<p><%= link_to "New Message", new_message_path %>
