<h2>
  <%=h @profile.name %>
  <small>
    <%= ( " | " + link_to( 'Edit', edit_profile_path(@profile) ) ) if @profile.life.user == @current_user %>
  </small>
</h2>
  <p><%= @profile.name %></p>
  <p><%= @profile.address %></p>
  <p><%= @profile.phone %></p>
  <p><%= @profile.email %></p>
