<% if @task.new_record? %>
  <div class="templates">
    <h2>Most Popular:</h2>
    <ul>
      <% @tasks.each do |task| %>
        <li><a href=''><%= task.name %></a></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% form_for ([@project, @task]) do |f| %>
<%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description, :cols => 40, :rows => 5 %>
  </p>
    
  <p>
    <%= f.label "Duration (in minutes)" %>
    <% @durations.each do |duration| %>  
      <%= radio_button("task","duration", duration.to_s) %>  
      <%= duration.to_s %>  
    <% end %> 
  </p>
  
  <% if !@project %>
    <p>
      <%= f.label :project %>
      <%= select "task", "project_id", @projects.each.collect {|p| [ p.name, p.id ] }, {:prompt => 'Select Project'} %>
    </p>
  <% end %>
    
  <p>
    <%= f.label "Responsible" %>
    <% @profiles.each do |profile| %>  
      <%= check_box_tag("profile_list[#{profile.id}]","1",@task.lives.detect{|d| d.profile == profile}) %>  
      <%= "#{profile.name}"%>  
    <% end %> 
  </p>
  
  <p>
    <a href='#' id="options_toggle">More Options</a>
  </p>
  
  <div id="optional">
    <p>
      <%= f.calendar_date_select :due, {:embedded => true, :time => :mixed, :month_year => "label", :minute_interval => 15, :year_range => [0.years.ago, 2.years.from_now]} %>
    </p>
  </div>

  <%= submit_tag (@task.new_record? ? 'Create' : 'Update') %> <%= link_to "Cancel", :back %>
<% end %>
