<h2><%=h @task.name %></h2>

<p>
  Description:<br />
  <%= @task.description %>
</p>

<p>
  Project: <%= @task.project.name %>
</p>

<p>
  Duration: <%= @task.duration ? @task.duration : "0" %> minutes
</p>

<p>
  Logged Time: <%=@task.task_logs.sum(:logged_time) || 0 %> minutes
</p>

<p>
  Remaining Time: <%=(@task.duration - @task.task_logs.sum(:logged_time)) || 0%> minutes
</p>

<p>
  State: <%=h @task.state %>
  <small> | 
    <% if @task.completed? %>
      <%= link_to "Re-Open", :controller => 'tasks', :action => 'reopen', :id => @task %>
    <% else %>
      <%= link_to 'Complete', complete_task_path(@task), :method => :put %>
    <% end %>
  </small>
</p>

<p>
  View Logs: <%= link_to "View logs", logs_task_path(@task) %>
</p>
<p>
  Assigned To:
  <ul>
    <% for life in @task.lives %>
      <li><%= life.profile.name %><small> | <%= link_to('Reassign', edit_task_path(@task)) %></small></li>
    <% end %>
  </ul>
</p>

<%- if @task.due -%>
  <p>
    Due:
    <%= distance_of_time_in_words_to_now @task.due %>
    <%= 'ago' if @task.due < Time.now %>
    <small> | <%= link_to 'Reschedule', edit_task_path(@task) %></small>
  </p>
<%- end -%>

<% if @task.conflict? %>
  <p>Conflicting Tasks:</p>
  <ul>
    <% for task in @task.conflicts %>
      <li><%= link_to task.name, task %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <%= link_to 'Add to Calendar', formatted_task_path(@task, :ics) %><br />
  <small>Supported by iCal, Outlook, and most major calendar apps.</small>
</p>

<p>
  <%= link_to( 'Start', start_task_path(@task) ) + " |" if !@task.in_progress? && !@task.paused? %>
  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to( 'Back', project_path(@project) ) if @project %>
  <%= link_to( 'Back', life_path(@life) ) if @life && !@project %>
</p>
