<h2><%= h(@user.name) %></h2>

<p>
  Email: <%= h(@user.email) %>
</p>

<p>
  Timezone: <%= h(@user.timezone) %>
</p>

<p>
  Recieve Emails: <%= @user.receive_emails ? "True" : "False" %>
</p>

<p>
  <%= link_to_if @user == @current_user, "Edit", edit_user_path(@user) do
    link_to "My Contacts", contacts_path 
  end %>
</p>
