
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  
  <p>  
    <%= f.label :contacts %>
    <% @life.contacts_from.each do |contact| %>  
      <%= check_box_tag("contact_list[#{contact.contactee.id}]","1") %>  
      <%= "#{contact.contactee.name}"%>  
    <% end %>  
  </p>
