<p><%=h @life.description %></p>

<span><center><b>NOTE: Use Drag-n-Drop to arrange the tasks.</b></center></span>

<ul style="list-style: none;">
<div class="task_head">
  <span class="name">Action</span>
  <span class="when">When</span>
  <span class="duration">Duration</span>
</div>
</ul>
<ul id="test-list" style="list-style: none;">
<%= render :partial => 'tasks/task', :collection => @tasks %>
</ul>
<p>
  <%= link_to( 'Add Project', new_life_project_path(@life) )+ " |" %>
  <%= link_to( 'Add Step', new_life_task_path(@life) ) + " |" %>
  <%= link_to 'Add to Calendar', formatted_tasks_path(:ics) %><br />
  <small>Supported by iCal, Outlook, and most major calendar apps.</small>
</p>
