<h2><%= link_to "(+)", new_life_path %>Profile</h2>
<%- if params[:controller] == "projects" || @project -%>
  <ul>
    <%= !@life ? '<li class="selected">' : "<li>"%><%= link_to "All", projects_path %></li>
    <%- for life in @lives -%>
      <%= @life == life ? '<li class="selected">' : "<li>"%><%= link_to life.name, life_projects_path(life) %></li>
    <%- end -%>
  </ul>
<%- elsif params[:controller] == "contacts" -%>
  <ul>
    <%= !@life ? '<li class="selected">' : "<li>"%><%= link_to "All", contacts_path %></li>
    <%- for life in @lives -%>
      <%= @life == life ? '<li class="selected">' : "<li>"%><%= link_to life.name, life_contacts_path(life) %></li>
    <%- end -%>
  </ul>
<%- elsif params[:controller] == "profiles" -%>
  <ul>
    <%= !@life ? '<li class="selected">' : "<li>"%><%= link_to "All", profiles_path %></li>
    <%- for life in @lives -%>
      <%= @life == life ? '<li class="selected">' : "<li>"%><%= link_to life.name, show_life_profile_path(life) %></li>
    <%- end -%>
  </ul>
<%- else -%>
  <ul>
    <%= !@life ? '<li class="selected">' : "<li>"%><%= link_to "All", tasks_path %></li>
    <%- for life in @lives -%>
      <%= @life == life ? '<li class="selected">' : "<li>"%><%= link_to life.name, life_tasks_path(life) %></li>
    <%- end -%>
  </ul>
<%- end -%>
