<h2><%= link_to( "(+)", edit_project_path(@project) ) if @project && !@project.new_record? %>Contact</h2>
  <ul>
    <%= !@selected_user ? '<li class="selected">' : "<li>"%>
      <%= link_to( "All", project_tasks_path(@project) ) if @project %>
      <%= link_to( "All", life_tasks_path(@life) ) if @life && !@project %>
      <%= link_to( "All", tasks_path ) if !@life && !@project %>
    </li>
    <%- unless @users.empty? || (@project && @project.new_record?) -%>
      <%- @users.each do |user| -%>
        <%= @selected_user == user.id ? '<li class="selected">' : "<li>"%>
          <%= link_to user.name, project_user_path(@project, user) if @project %>
          <%= link_to user.name, life_user_path(@life, user) if @life && !@project %>
          <%= link_to user.name, tasks_user_path(user) if @lives && !@life && !@project %>
        </li>
      <%- end -%>
    <%- end -%>
  </ul>
